
.container
{
	padding-top:60px;
}
.main_container
{
	//width:520px;
	/*height:700px;*/
	background:#FAFAFA;
	/*border: 1px solid #dce3b6;*/ 
    overflow:auto;  
}
#tickets_map
{
	margin:0px 7px;
	position:relative;
	padding-left: 0px;
}
#tickets_map li
{
	list-style: none outside none;
	position: absolute;
}
#tickets_map a
{
	text-decoration: none;
}

#tickets_map .seat
{
	background:url("../img/available_seat.png") no-repeat scroll 0 0 transparent;
	height:19px;
	width:19px;
	/*display:block;*/  
}
#tickets_map .selectedSeat
{
	background:url("../img/booked_seat.png") no-repeat scroll 0 0 transparent;
}
#tickets_map .selectingSeat
{
	background:url("../img/selected_seat.png") no-repeat scroll 0 0 transparent;
}

#tickets_map .col-2,#tickets_map .col-22
{
	margin-right:10px;
}
.gold_tickets_map
{
	background-color: #f0f6dc;
	height:110px;
	border: 1px solid #dce3b6;
}
.silver_tickets_map
{
	background-color: #fce9e2;
	margin-top:30px;
	height:180px;
	border: 1px solid #dce3b6;
}
.bronze_tickets_map
{
	background-color: #fbf8cf;;
	margin-top:30px;
	height:110px;
	border: 1px solid #dce3b6;
}
.invisible
{
	display: none;
}
.category
{

	padding: 7px 6px 25px 15px;
	font-size: 14px;
	font-weight: bold;
	height: 20px;
	font-family: 'Open Sans Condensed';
	border-bottom: 1px solid #dce3b6;
	margin:0px;
}
.alert
{
	display:none;
}
